<div class="profiles-pictures-holder">
    <div class="user-pic-holder">
      <label  for="amioption" role="button">
        <img src="assets/images/arrow.svg" alt="" class="arrow">
      </label>
      <input type="checkbox" name="amioption" id="amioption" hidden>
      <ul role="menu" >
          <li role="menuitem" tabindex="0"><img src="assets/images/block.png" alt=""><a>Retirer l'ami</a></li>
      </ul>
      <div class="buddy-container buddy-disconnected glass remote-holder">
        <div class="buddy-body">
            <img *ngIf="!gotRemoteVideo" #remoteAvatarImg  src="https://pbs.twimg.com/media/DwPifW4X4AEVbGY.jpg" alt="">
            <video *ngIf="gotRemoteVideo" src="" #remoteVideo autoplay ></video>
        </div>
      </div>
    </div>
    <div class="user-pic-holder">
      <button type="button" (click)="onStartVideoShare()" [title]="!videoShared ? 'Commencer un appel video' : 'Arrêter l\'appel video'">
        <img src="assets/images/webcam.png" alt="">
      </button>
      <div class="buddy-container glass local-holder">
        <div class="buddy-body">
            <img *ngIf="!videoShared" #localAvatarImg  src="https://i.redd.it/windows-xp-user-icons-part-1-v0-21x236nw74qb1.jpg?width=1117&format=pjpg&auto=webp&s=373255f32cfaeaf801f1e3ae36dc314dd6b1f100" alt="">
            <video *ngIf="videoShared" src="" #localVideo autoplay (click)="onVideoFullScreen()" [muted]="true"></video>
            <div *ngIf="videoShared" role="tooltip" class="is-top is-right">Cliquer pour redimensionner</div>
        </div>
      </div>
    </div>
  </div>
