<div class="profiles-pictures-holder">
    <div class="user-pic-holder">
      <button type="button" (click)="onStartVideoShare()" [title]="!videoShared ? 'Commencer un appel video' : 'Arrêter l\'appel video'">
        <img src="assets/images/webcam.png" alt="">
      </button>
      <div class="buddy-container glass remote-holder" [ngClass]="loggedUser?.id == utilisateurs[0].id ? 'buddy-'+utilisateurs[1].statut : 'buddy-'+utilisateurs[0].statut">
        <div class="buddy-body">
          @if (loggedUser?.id == utilisateurs[0].id) {
            <img *ngIf="!gotRemoteVideo" #remoteAvatarImg  src="{{utilisateurs[1].avatar}}" alt="">
          }@else {
            <img *ngIf="!gotRemoteVideo" #remoteAvatarImg  src="{{utilisateurs[0].avatar}}" alt="">
          }
            <video *ngIf="gotRemoteVideo" src="" #remoteVideo autoplay ></video>
        </div>
      </div>
    </div>
  
    
    <div class="user-pic-holder">
      <button type="button" (click)="onStartVideoShare()" [title]="!videoShared ? 'Commencer un appel video' : 'Arrêter l\'appel video'">
        <img src="assets/images/webcam.png" alt="">
      </button>
      <div class="buddy-container glass local-holder buddy-{{loggedUser?.statut}}">
        <div class="buddy-body">
            <img *ngIf="!videoShared" #localAvatarImg  src="{{loggedUser?.avatar}}" alt="">
            <video *ngIf="videoShared" src="" #localVideo autoplay (click)="onVideoFullScreen()" [muted]="true"></video>
            <div *ngIf="videoShared" role="tooltip" class="is-top is-right">Cliquer pour redimensionner</div>
        </div>
      </div>
    </div>
  </div>
