:host{
    max-height: 100%;
}

:host:has(video){
    min-width: 45%;
}

.profiles-pictures-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    padding-top: 2em;
    height: 100%;
    max-height: 100%;
}

.user-pic-holder{
    display: flex;
    gap: 0.5em;
    max-height: 50%;
}

.user-pic-holder button, .user-pic-holder [role="button"]{
    margin-top: 10px;
    height: 25px;
    width: 25px;
    min-width: 0;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-pic-holder button img, .user-pic-holder [role="button"] img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.arrow{
    height: 60% !important;
    width: 60% !important;
}

.buddy-body [role="tooltip"]{
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    top: 0;
    right: 0;
    translate: 50% -50%;
    transition: opacity 0.2s ease-in-out;
}

.buddy-body:hover [role="tooltip"]{
    opacity: 1;
}

.buddy-container{
    height: 135px;
    width: 135px;
    padding: 10px;
}

.buddy-container:has(video){
    height: 100%;
    width: 100%;
    padding: 7px;
    transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
}

.buddy-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

video:hover{
    cursor: pointer;
}

[role="menu"]{
    position: absolute;
    z-index: 1;
    translate: -5% 40px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

input:checked + [role="menu"]{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

[role="menuitem"] > img{
    height: 80%;
    object-fit: contain;
}