<div id="desktop" #desktop>
    <div  class="msn-icon icon-desk" data-label="MSN" cdkDrag (click)="onClickWindow('msn')"
    #draggable="cdkDrag"
    [class.pointer-events-none]="draggable._dragRef.isDragging()">
    </div>
    <a  class="ie-icon icon-desk" cdkDrag 
    #draggable="cdkDrag" data-label="Internet"
    [class.pointer-events-none]="draggable._dragRef.isDragging()"
    (click)="onOpenApp('ie', 'https://www.google.com/webhp?igu=1','Internet Explorer',true)">
    </a>
    <a class="icon-desk tetris-icon" cdkDrag #draggable="cdkDrag" data-label="Tetris" 
    [class.pointer-events-none]="draggable._dragRef.isDragging()"
    (click)="onOpenApp('tetris', 'https://freehtml5games.org/games/tetris-cube/index.html','Tetris')">
    </a>
    <ng-template #windowContainer>
        <ng-container></ng-container>
    </ng-template>
    <app-taskbar (msnOpenEvent)="onClickWindow('msn')" [msnOpened]="msnOpened()" (backgroundChangeEvent)="onBackgroundChange()"></app-taskbar>
    <svg width="0" height="0">
        <clipPath id="svgClip" clipPathUnits="objectBoundingBox">
            <path d="M.067.067C.1676 0 .8379 0 .9385.067C1.0055.1676 1.0055.8379.9385.9385C.8379 1.0055.1676 1.0055.067.9385C0 .8379 0 .1676.067.067"></path>
        </clipPath>
    </svg>
    <div class="notification-holder">
        <ng-template #notificationContainer>
            <ng-container></ng-container>
        </ng-template>
    </div>
    <ng-template #erreurContainer>
        <ng-container></ng-container>
    </ng-template>
</div> 
<div class="wink-player">
    <img src="assets/images/winks/kiss.png" #winkImg alt="">
</div>