#desktop{
  background: 
    url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/f8cbba04-d884-4dc3-b9ef-9979145c22d1/d68d6tc-70c2835d-c837-4d81-ab0f-5d185d6d592a.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-position: center;
}

/* Source pour la barre de tâche, les icones : https://codepen.io/legarth/pen/jrKLqd*/
  .icon-desk:hover{
    background-color: rgba(255, 255, 255, .3);
    border: solid 1px rgba(255, 255, 255, .3);
    cursor: pointer;
  }

.icon-desk {
  position: absolute;
  display: block;
  width: 70px;
  height: 70px;
  background-size: 48px;
  background-repeat: no-repeat;
  background-position: top center;
  border: solid 1px transparent;
  border-radius: 2px;
  z-index: 2;
  margin: 1em;
}

.msn-icon{
  background-image: url(../../assets/images/buddy.png);
}

.ie-icon{
  margin-top: 90px;
  background-image: url(https://pngimg.com/d/ie_logo_PNG4.png);
}

.tetris-icon{
  margin-top: 180px;
  background-image: url(https://freehtml5games.org/icons/tetris-cube.png);
}

.vscode-icon{
  margin-top: 270px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Visual_Studio_Code_1.35_icon.svg/512px-Visual_Studio_Code_1.35_icon.svg.png?20210804221519);
}

.icon-desk:after {
  display: block;
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
  content: attr(data-label);
  text-shadow: 0 2px 2px #000;
  color: azure;
}

.pointer-events-none {
  pointer-events: none;
}

.notification-holder{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  bottom: 5vh;
  right: 1vw;
  z-index: 10;
  width: 15%;
  gap: 1em;
}

.wink-player{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  opacity: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.wink-player img{
  width: 60%;
  height: 60%;
  object-fit: contain;
}




