<div id="desktop">
    <div  class="msn-icon icon-desk" data-label="MSN" cdkDrag (click)="onClickWindow('msn')"
    #draggable="cdkDrag"
    [class.pointer-events-none]="draggable._dragRef.isDragging()">
    </div>
    <a  class="ie-icon icon-desk" cdkDrag href="https://www.google.ca"
    #draggable="cdkDrag" target="_blank" data-label="Internet"
    [class.pointer-events-none]="draggable._dragRef.isDragging()">
    </a>
    <ng-template #windowContainer>
        <ng-container></ng-container>
    </ng-template>
    <app-taskbar (msnOpenEvent)="onClickWindow('msn')" [msnOpened]="msnOpened"></app-taskbar>
  </div> 