<div id="task-bar">
    <div id="blur-overlay"></div>
    <div id="menu-button" #startIcon (click)="onOpenStartMenu()">
    </div>
    <div id="startmenu" #startMenu>
      <ul id="programs">
          <li (click)="onMsnOpen()">
            <div class="start-icon"><img src="../../assets/images/buddy.png" alt="">MSN</div>
          </li>
          <li>
            <a class="start-icon" href="https://www.google.ca" target="_blank">
              <img src="https://pngimg.com/d/ie_logo_PNG4.png" alt="">
              Internet Explorer
            </a>
          </li>
      </ul>
      <ul id="links">
          <li class="icon"><img src="../../assets/images/folder.png" alt=""></li>
          <li><div class="start-icon"><span>Documents</span></div></li>
          <li><div class="start-icon"><span>Photos</span></div></li>
          <li><div class="start-icon"><span>Musique</span></div></li>
          <li><div class="start-icon"><span>Computer</span></div></li>
      </ul>
    </div>
    <div id="pined-items">
      <div class="pined-icon" (click)="onMsnOpen()" data-window="msn" [ngClass]="msnOpened ? 'active-bar-icon' : ''">
        <img src="../assets/images/buddy.png" alt="">
      </div>
      <a class="pined-icon" href="https://www.google.ca" target="_blank">
        <img src="https://pngimg.com/d/ie_logo_PNG4.png" alt="">
      </a>
    </div>
    <div id="datetime">
      <span class="time"></span>
      <span class="date"></span>
    </div>
    <div id="show-desktop"></div>
  </div>
