<div class="field-row">
    <input class="rechercher" type="search" placeholder="Rechercher" name="email" id="email" required>
</div>
<div class="title">
    <img src="../../../assets/images/star.png" alt="">
    <span>Favoris <span class="count">(3)</span></span>
</div>
<ul class="user-list has-scrollbar">
    <li class="user-card">
        <div class="buddy-container glass user-list-avatar">
            <div class="buddy-body">
                <img #avatarImg id="buddy-img" src="../../../assets/images/buddy2.png" alt="">
            </div>
        </div>
        <div class="user-info">
            <span class="username-holder">
                    <span class="username">John Doe</span>
                    <span>(En ligne)</span>
            </span>
            <div class="description">
                Hello, I am John Doe
            </div>
        </div>
    </li>
    <li class="user-card">
        <div class="buddy-container buddy-inactif glass user-list-avatar">
            <div class="buddy-body">
                <img #avatarImg id="buddy-img" src="../../../assets/images/buddy2.png" alt="">
            </div>
        </div>
        <div class="user-info">
            <span class="username-holder">
                    <span class="username">John Doe</span>
                    <span>(Inactif)</span>
            </span>
            <div class="description">
                Hello, I am John Doe
            </div>
        </div>
    </li>
    <li class="user-card">
        <div class="buddy-container buddy-disconnected glass user-list-avatar">
            <div class="buddy-body">
                <img #avatarImg id="buddy-img" src="../../../assets/images/buddy2.png" alt="">
            </div>
        </div>
        <div class="user-info">
            <span class="username-holder">
                    <span class="username">John Doe</span>
                    <span>(Hors ligne)</span>
            </span>
            <div class="description">
                Hello, I am John Doe
            </div>
        </div>
    </li>
    <li class="user-card">
        <div class="buddy-container buddy-absent glass user-list-avatar">
            <div class="buddy-body">
                <img #avatarImg id="buddy-img" src="../../../assets/images/buddy2.png" alt="">
            </div>
        </div>
        <div class="user-info">
            <span class="username-holder">
                    <span class="username">John Doe</span>
                    <span>(Absent)</span>
            </span>
            <div class="description">
                Hello, I am John Doe
            </div>
        </div>
    </li>
</ul>
<div class="title">
    <span>Amis <span class="count">(0)</span></span>
</div>

<div class="title">
    <span>Groupes <span class="count">(0)</span></span>
</div>