<div class="title">
    <input type="checkbox" class="collapse">
    <img src="assets/images/star.png" alt="">
    <span>Favoris <span class="count">(4)</span></span>
</div>
<ul class="user-list has-scrollbar">
    <li class="user-card" (click)="onOpenChat()" *ngFor="let conversation of conversations">
        @if (conversation.type == 'private' && conversation.utilisateurs[0].id == loggedUser.id) {
            <div class="buddy-container buddy-{{conversation.utilisateurs[1].statut}} glass user-list-avatar">
                <div class="buddy-body">
                    <img id="buddy-img" src="{{conversation.utilisateurs[1].avatar}}" alt="">
                </div>
            </div>
            <div class="user-info">
                <span class="username-holder">
                        <span class="username">{{conversation.utilisateurs[1].nomComplet}}</span>
                        <span>( {{conversation.utilisateurs[1].statut}} )</span>
                </span>
                <div class="description">
                    {{conversation.utilisateurs[1].description}}
                </div>
            </div>
        }@else{
            <div class="buddy-container buddy-{{conversation.utilisateurs[0].statut}} glass user-list-avatar">
                <div class="buddy-body">
                    <img id="buddy-img" src="{{conversation.utilisateurs[0].avatar}}" alt="">
                </div>
            </div>
            <div class="user-info">
                <span class="username-holder">
                        <span class="username">{{conversation.utilisateurs[0].nomComplet}}</span>
                        <span>( {{conversation.utilisateurs[0].statut}} )</span>
                </span>
                <div class="description">
                    {{conversation.utilisateurs[0].description}}
                </div>
            </div>
        }
    </li>
</ul>
<div class="title">
    <input type="checkbox" class="collapse">
    <span>Amis <span class="count">(4)</span></span>
</div>
<ul class="user-list has-scrollbar">
    <li class="friend" *ngFor="let conversation of conversations">
        @if (conversation.type == 'private' && conversation.utilisateurs[0].id == loggedUser.id) {
            <img src="assets/images/{{conversation.utilisateurs[1].statut}}.png" alt="" class="{{conversation.utilisateurs[1].statut}}-neon">
            <span class="username">{{conversation.utilisateurs[1].nomComplet}}</span>
            <span>-</span>
            <span>{{conversation.utilisateurs[1].description}}</span>
        }@else{
            <img src="assets/images/{{conversation.utilisateurs[0].statut}}.png" alt="" class="{{conversation.utilisateurs[0].statut}}-neon">
            <span class="username">{{conversation.utilisateurs[0].nomComplet}}</span>
            <span>-</span>
            <span>{{conversation.utilisateurs[0].description}}</span>
        }
    </li>
</ul>
<div class="title">
    <input type="checkbox" class="collapse">
    <span>Groupes <span class="count">(1)</span></span>
</div>
<ul class="user-list has-scrollbar">
    <li class="friend">
        <img src="assets/images/buddy.png" alt="" class="grp-img">
        <span class="username">Groupe 1</span>
        <span>-</span>
        <span>Groupe chat!!</span>
    </li>
</ul>