<div class="title">
    <input type="checkbox" class="collapse">
    <img src="assets/images/star.png" alt="">
    <span>Favoris <span class="count">(4)</span></span>
</div>
<ul class="user-list has-scrollbar">
    <li class="user-card" (click)="onOpenChat()">
        <div class="buddy-container buddy-inactif glass user-list-avatar">
            <div class="buddy-body">
                <img #avatarImg id="buddy-img" src="https://pbs.twimg.com/media/EcWpFnuWkAMtciP.jpg" alt="">
            </div>
        </div>
        <div class="user-info">
            <span class="username-holder">
                    <span class="username">John Doe</span>
                    <span>( Inactif )</span>
            </span>
            <div class="description">
                Hello, I am John Doe
            </div>
        </div>
    </li>
    <li class="user-card">
        <div class="buddy-container buddy-disconnected glass user-list-avatar">
            <div class="buddy-body">
                <img #avatarImg id="buddy-img" src="https://pbs.twimg.com/media/DwPifW4X4AEVbGY.jpg" alt="">
            </div>
        </div>
        <div class="user-info">
            <span class="username-holder">
                    <span class="username">John Doe</span>
                    <span>( Hors ligne )</span>
            </span>
            <div class="description">
                Hello, I am John Doe
            </div>
        </div>
    </li>
    <li class="user-card">
        <div class="buddy-container buddy-absent glass user-list-avatar">
            <div class="buddy-body">
                <img #avatarImg id="buddy-img" src="assets/images/buddy2.png" alt="">
            </div>
        </div>
        <div class="user-info">
            <span class="username-holder">
                    <span class="username">John Doe</span>
                    <span>( Absent )</span>
            </span>
            <div class="description">
                Hello, I am John Doe
            </div>
        </div>
    </li>
    <li class="user-card">
        <div class="buddy-container glass user-list-avatar">
            <div class="buddy-body">
                <img #avatarImg id="buddy-img" src="https://media.craiyon.com/2023-09-22/a5d84f8890fb44a5ae48bdcc57c261e3.webp" alt="">
            </div>
        </div>
        <div class="user-info">
            <span class="username-holder">
                    <span class="username">John Doe</span>
                    <span>( En ligne )</span>
            </span>
            <div class="description">
                Hello, I am John Doe
            </div>
        </div>
    </li>
</ul>
<div class="title">
    <input type="checkbox" class="collapse">
    <span>Amis <span class="count">(4)</span></span>
</div>
<ul class="user-list has-scrollbar">
    <li class="friend">
        <img src="assets/images/online.png" alt="" class="online-neon">
        <span class="username">John Doe</span>
        <span>-</span>
        <span>Hello, I am John Doe</span>
    </li>
    <li class="friend">
        <img src="assets/images/inactif.png" alt="" class="inactif-neon">
        <span class="username">John Doe</span>
        <span>-</span>
        <span>Hello, I am John Doe</span>
    </li>
    <li class="friend">
        <img src="assets/images/disconnected.png" alt="" class="disconnected-neon">
        <span class="username">John Doe</span>
        <span>-</span>
        <span>Hello, I am John Doe</span>
    </li>
    <li class="friend">
        <img src="assets/images/absent.png" alt="" class="absent-neon">
        <span class="username">John Doe</span>
        <span>-</span>
        <span>Hello, I am John Doe</span>
    </li>
</ul>
<div class="title">
    <input type="checkbox" class="collapse">
    <span>Groupes <span class="count">(1)</span></span>
</div>
<ul class="user-list has-scrollbar">
    <li class="friend">
        <img src="assets/images/buddy.png" alt="" class="grp-img">
        <span class="username">Groupe 1</span>
        <span>-</span>
        <span>Groupe chat!!</span>
    </li>
</ul>