<div class="emoji-container emoji">
    <div class="emoji-header emoji">
        <img src="assets/images/emojis/teeth_smile.png" alt="">
        <span>Émoticones</span>
    </div>
    <div class="emoji-list emoji">
        <button type="button" class="emoji-item emoji">
            <img src="assets/images/emojis/teeth_smile.png" alt="" class="emoji">
        </button>
        <button type="button" class="emoji-item emoji">
            <img src="assets/images/emojis/teeth_smile.png" alt="" class="emoji">
        </button>
        <button type="button" class="emoji-item emoji">
            <img src="assets/images/emojis/teeth_smile.png" alt="" class="emoji">
        </button>
        <button type="button" class="emoji-item emoji">
            <img src="assets/images/emojis/teeth_smile.png" alt="" class="emoji">
        </button>
        <button type="button" class="emoji-item emoji">
            <img src="assets/images/emojis/teeth_smile.png" alt="" class="emoji">
        </button>
    </div>
</div>
