

.emoji-container{
    position: fixed;
    display: none;
    flex-direction: column;
    height: 275px;
    width: 275px;
    background: rgb(254,255,250);
    background: linear-gradient(180deg, rgba(254,255,250,1) 24%, rgba(255,251,243,1) 69%, rgba(255,254,250,1) 100%);
    border-radius: 5px;
    border: 1px solid rgba(61, 61, 61, 0.3);
    box-shadow: 1px 1px 1px rgba(61, 61, 61, 0.3);
    translate: 3% -120%;
    padding: 1em;
    gap: 0.5em;
    opacity: 0;
}

.emoji-header{
    display: flex;
    align-items: center;
    gap: 1em;
    border-bottom: 1px solid rgba(61, 61, 61, 0.3);
    padding: 0.5em;
    padding-bottom: 1em;
    font-size: 14pt;
}

img{
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.emoji-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0.5em;
    overflow-y: auto;
    overflow-x: hidden;
}

.emoji-item{
    min-width: min-content;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: none;
    height: 30px;
    width: 30px;
}

.recent-emoji-list{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    flex-grow: 1;
    height: 50%;
}