<div class="notification" #notificationElem [ngClass]="notification?.type ? 'msn' : ''">
    <div class="notification-title-bar">
        <img src="assets/images/buddy.png" alt="">
        <span>Windows Live Messenger</span>
        <div role="Close" (click)="onClose()">X</div>
    </div>
    
    <div class="notification-body">
        <div class="notification-image" *ngIf="notification?.image">
            <div class="buddy-container buddy-absent">
                <div class="buddy-body">
                    <img  id="buddy-img" src="{{notification?.image}}" alt="">
                </div>
            </div>
            <!-- <img  id="buddy-img" src="assets/images/buddy2.png" alt=""> -->
        </div>
        <div class="notification-message">
            <div class="notification-title">
                {{notification?.titre}}
            </div>
            <div class="notification-text">
                {{notification?.message}}
            </div>
        </div>
    </div>
</div>
