<div class="window active glass first-window {{windowType}}" #window cdkDrag [cdkDragFreeDragPosition]="dragPosition" cdkDragBoundary="#desktop">
    <div class="title-bar">
      <div class="title-container" cdkDragHandle>
        <div class="title-bar-text"> {{titre}}</div>
        <div class="title-bar-controls">
          <button aria-label="Minimize" (click)="minimizeOrResume()"></button>
          <button [ariaLabel]="isFullScreen ? 'Restore' : 'Maximize'" [disabled]="!canBeFullScreen" (click)="onFullScreen()"></button>
          <button aria-label="Close" (click)="onQuitWindow()"></button>
        </div>
      </div>
      <app-internet-search-bar *ngIf="windowType.includes('ie')" 
      (urlChange)="onUrlChange($event)" [url]="iframeUrl()"></app-internet-search-bar>
    </div>
    <div class="window-body">
      <div class="content-container">
        <iframe [src]="iframeUrl() | safe"  class="content-card" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
</div>
