<div class="content-container">
    <div class="content-card">
        <h3>Inscrivez-vous à <br> Windows Live <span>Messenger</span></h3>
        <div class="login-form-container">
            <div class="buddy-container glass">
                <div class="buddy-body">
                    <img #avatarImg (click)="onChooseAvatar()" id="buddy-img" src="assets/images/buddy2.png" alt="">
                </div>
            </div>
            <form #inscriptionForm="ngForm" (ngSubmit)="onInscription(inscriptionForm.value)">
                <div class="field-row">
                    <input class="text-input" type="email" [(ngModel)]="formData.email" placeholder="exemple@email.ca" name="email" id="email" [required]="true">
                </div>

                <div class="field-row">
                    <input class="text-input" type="text" [(ngModel)]="formData.nom" placeholder="Nom complet" name="nom" id="nom" [required]="true">
                </div>
    
                <div class="field-row">
                    <input class="text-input" type="password" #password
                    [(ngModel)]="formData.password" placeholder="Entrez votre mot de passe" name="password" id="password" [required]="true">
                </div>
    
                <div class="field-row">
                    <input class="text-input" type="password" #confirm
                    [(ngModel)]="formData.confirm" placeholder="Confirmez votre mot de passe" name="confirm" id="confirm" [required]="true">
                </div>

                <div class="field-row">
                    <input type="checkbox" id="show-password" name="show-password" #showPassword (click)="onShowPassword()">
                    <label for="show-password">
                        Afficher le mot de passe
                    </label>
                </div>
    
                <div class="button-container">
                    <button type="submit">S'inscrire</button>
                    <button type="reset">Annuler</button>
                </div>
                
                <div style="margin-top: 1em;">
                    Vous avez un compte? <a (click)="onGoToLogin()" style="cursor: pointer;">Connectez-vous</a>
                </div>
            </form>
        </div>
    </div>
</div>
<input type="file" hidden id="avatar" name="avatar" #avatarPicker 
                accept="image/*" (change)="onAvatarImgChange($event)" [required]="false">