.buddy-body{
  border: 0.5px solid rgba(0, 0, 0, 0.253);
  cursor: pointer;
}

.buddy-container{
  height: 80px;
  width: 80px;
}

.profil-info{
  display: flex;
}

.user-info{
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  flex-grow: 1;
}

hr{
  margin-top: 1em;
}

.statut{
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJhIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3R5bGU9InN0b3AtY29sb3I6IzMzMztzdG9wLW9wYWNpdHk6MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6I2FhYTtzdG9wLW9wYWNpdHk6MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxwYXRoIGQ9Ik0xMSA2SDR2MWgxdjFoMXYxaDF2MWgxVjloMVY4aDFWN2gxVjZaIiBmaWxsPSJ1cmwoI2EpIi8+PC9zdmc+);
  background-position: 100%;
  background-repeat: no-repeat;
  border: none;
  box-shadow: none;
}

.username-holder{
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.username{
  font-size: 1.2rem;
  font-weight: 500;
}

.option-holder{
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}

.btn{
  border: none;
  background: transparent;
  cursor: pointer;
  box-shadow: none;
  width: 40px;
  height: 40px;
  min-width: 10px;
  min-height: 30px;
  padding: 0.1em;
}

.edit-icon{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.description{
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}

#description{
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
}

#description:focus, #description:focus-visible, #description:hover{
  border-bottom: 2px solid rgba(24, 23, 23, 0.4);
}