:host{
    z-index: 11;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.erreur-body{
    display: flex;
    gap: 1.5em;
    width: 250px;
    min-height: 100px;
    padding: 1em;
}

.icon-erreur{
    width: 40px;
    height: 40px;
}

.icon-erreur img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.erreur-texte{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    flex: 1;
}

.erreur-title{
    font-size: 14pt;
    color: #1349C3;
}

.erreur-message{
    font-size: 10pt;
    color: #162227;
}

button{
    align-self: flex-end;
}