.content-container{
    width: 430px;
    max-width: 30vw;
    height: 750px;
    max-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: auto;
    resize: both; */
    position: relative;
  }
  
  .content-card{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 90%;
    height: 100%;
    padding-top: 2em;
  }

  .banner-holder{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    z-index: 0;
  }
  
  .banner-holder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4) 50% , rgba(0,0,0,0) 100%);
  }