<div class="content-container">
    <div class="content-card">
        <div class="profil-info">
            <div class="buddy-container glass">
                <div class="buddy-body">
                    <img #avatarImg id="buddy-img" src="../../../assets/images/buddy2.png" alt="">
                </div>
            </div>
            <div class="user-info">
                <span class="username-holder">
                        <span class="username">John Doe</span>
                        <label for="statut">(Statut: </label>
                        <select name="statut" id="statut" class="statut" required >
                            <option value="1" selected>🟩 En ligne</option>
                            <option value="2">🟥 Hors ligne</option>
                            <option value="3">🟨 Inactif</option>
                            <option value="4">⬜ Absent</option>
                        </select>)
                </span>
                <span class="description">I am John Doe</span>
                <div class="option-holder">
                    <button type="button" class="btn">
                        <img src="../../../assets/images/account_settings.png" alt="" class="edit-icon">
                    </button>
                </div>
            </div>
        </div>
        <hr/>
        <div class="field-row">
            <input class="rechercher" type="search" placeholder="Rechercher" name="email" id="email" required>
        </div>
    </div>
</div>