.content-container{
    width: 430px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: auto;
    resize: both; */
  }
  
  .content-card{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 90%;
    height: 100%;
    padding-top: 2em;
  }


  .rechercher{
    width: 100%;
    font-size: 10pt;
  }