<div class="content-container">
    <div class="content-card">
        <h3>Changez de <br> mot de passe </h3>
        <div class="login-form-container">
            <div class="buddy-container glass">
                <div class="buddy-body">
                    <img id="buddy-img" src="assets/images/buddy2.png" alt="">
                </div>
            </div>
            <form #loginForm="ngForm" (ngSubmit)="onResetPassword(loginForm.value)">
                <div class="field-row">
                    <input class="text-input" type="email" placeholder="exemple@email.ca" 
                    name="email" id="email" ngModel #email="ngModel" required>
                </div>
                
                <div class="button-container">
                    <button type="submit">Envoyer</button>
                    <button type="reset" (click)="onGoToLogin()">Annuler</button>
                </div>
                
            </form>
        </div>
    </div>
</div>