<div class="window active glass second-window " cdkDrag>
    <div class="title-bar" cdkDragHandle>
      <div class="title-bar-text"><img src="../../assets/images/buddy.png" class="title-icon" alt=""> Windows Live Messenger </div>
      <div class="title-bar-controls">
        <button aria-label="Minimize"></button>
        <button aria-label="Maximize"></button>
        <button aria-label="Close"></button>
      </div>
    </div>
    <div class="window-body has-space">
        <div class="content-container">
          <div class="content-card">
            <h1 *ngIf="isLoading"> Test is loading </h1>
          </div>
        </div>
    </div>
</div>
