<div class="window active glass second-window window-msn" cdkDrag [cdkDragFreeDragPosition]="dragPosition">
    <div class="title-bar" cdkDragHandle>
      <div class="title-bar-text"><img src="assets/images/buddy.png" class="title-icon" alt=""> Windows Live Messenger </div>
      <div class="title-bar-controls">
        <button aria-label="Minimize" (click)="minimizeOrResume()"></button>
        <button [ariaLabel]="!isFullScreen ? 'Maximize' : 'Restore'" (click)="onFullScreen()"></button>
        <button aria-label="Close" (click)="minimizeOrResume()"></button>
      </div>
    </div>
    <div class="window-body">
        <ul role="menubar">
          <li role="menuitem" tabindex="0">Photos</li>
          <li role="menuitem" tabindex="0">Vidéo</li>
          <li role="menuitem" tabindex="0">Appel</li>
          <li role="menuitem" tabindex="0">Aide</li>
        </ul>
        <div class="content-container">
          <div class="content-card">
            <div class="profiles-pictures-holder">
              <div class="user-pic-holder">
                <button type="button">
                  <img src="assets/images/arrow.svg" alt="" class="arrow">
                </button>
                <div class="buddy-container buddy-disconnected glass remote-holder">
                  <div class="buddy-body">
                      <img *ngIf="!gotRemoteVideo" #remoteAvatarImg  src="https://pbs.twimg.com/media/DwPifW4X4AEVbGY.jpg" alt="">
                      <video *ngIf="gotRemoteVideo" src="" #remoteVideo autoplay ></video>
                  </div>
                </div>
              </div>
              <div class="user-pic-holder">
                <button type="button" (click)="onStartVideoShare()">
                  <img src="assets/images/webcam.png" alt="">
                </button>
                <div class="buddy-container glass local-holder">
                  <div class="buddy-body">
                      <img *ngIf="!videoShared" #localAvatarImg  src="https://i.redd.it/windows-xp-user-icons-part-1-v0-21x236nw74qb1.jpg?width=1117&format=pjpg&auto=webp&s=373255f32cfaeaf801f1e3ae36dc314dd6b1f100" alt="">
                      <video *ngIf="videoShared" src="" #localVideo autoplay (click)="onVideoFullScreen()"></video>
                  </div>
                </div>
              </div>
            </div>
            <div class="chat-zone">
              <div class="ami-info">
                <div class="name-holder">
                  <span class="name">John Doe</span>
                  <span class="status">(Hors ligne)</span>
                </div>
                <div class="desc">
                  Hello, I am John Doe
                </div>
              </div>
              <hr>
              <div class="chat-list has-scrollbar">
                
                <div class="chat-item">
                  <div class="sender">John Doe said</div>
                  <div class="message">
                    <span class="point"></span>
                    <div class="message-body">
                      Hello, I am John Doe
                    </div>
                  </div>
                </div>
                <div class="chat-item">
                  <div class="sender">John Doe said</div>
                  <div class="message">
                    <span class="point"></span>
                    <div class="message-body">
                      Hello, I am John Doe
                    </div>
                  </div>
                </div>
                <div class="interaction">
                  <hr>
                  <div class="sender">John Doe à envoyé un Wizz</div>
                  <hr>
                </div>
                <div class="chat-item">
                  <div class="sender">John Doe said</div>
                  <div class="message">
                    <span class="point"></span>
                    <div class="message-body">
                      Hello, I am John Doe
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat-input">
                <div role="tooltip" class="is-top is-right">
                  <textarea placeholder="Écrivez un message" class="text-input"></textarea>
                </div>
                <div class="chat-input-options">
                  <button type="button" class="opt">
                    <img src="./assets/images/emojis/teeth_smile.png" alt="">
                  </button>
                  <button type="button" class="opt">
                    <img src="./assets/images/emojis/wink_smile.gif" alt="">
                  </button>
                  <button type="button" class="opt" (click)="onNudge()">
                    <img src="./assets/images/emojis/wizz-msn.png" alt="">
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
