<div class="content-container">
    <div class="content-card">
        <h3>Changez de <br> mot de passe </h3>
        <div class="login-form-container">
            <div class="buddy-container glass">
                <div class="buddy-body">
                    <img id="buddy-img" src="assets/images/buddy2.png" alt="">
                </div>
            </div>
            <form #loginForm="ngForm" (ngSubmit)="onChangePassword(loginForm.value)">
                <div class="field-row">
                    <input class="text-input" type="password" placeholder="Entrez votre nouveau mot de passe" 
                    name="password" id="password" ngModel #password="ngModel" required #passwordElement>
                </div>
                <div class="field-row">
                    <input class="text-input" type="password" placeholder="Confirmer votre nouveau mot de passe" 
                    name="confirmer" id="confirmer" ngModel #confirmer="ngModel" required #confirmerElement>
                </div>
                <div class="field-row">
                    <input type="checkbox" id="show-password" name="show-password" #showPassword (click)="onShowPassword()">
                    <label for="show-password">
                        Afficher le mot de passe
                    </label>
                </div>
                
                <div class="button-container">
                    <button type="submit">Envoyer</button>
                    <button type="reset" (click)="onGoToLogin()">Annuler</button>
                </div>
                
            </form>
        </div>
    </div>
</div>