<div class="content-container">
    <div class="content-card">
        <h3>Connectez-vous à <br> Windows Live <span>Messenger</span></h3>
        <div class="login-form-container">
            <div class="buddy-container glass">
                <div class="buddy-body">
                    <img id="buddy-img" src="assets/images/buddy2.png" alt="">
                </div>
            </div>
            <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
                <div class="field-row">
                    <input class="text-input" type="email" placeholder="exemple@email.ca" 
                    name="email" id="email" ngModel #email="ngModel" required>
                </div>
    
                <div class="field-row">
                    <input class="text-input" type="password" placeholder="Entrez votre mot de passe" 
                    ngModel #password="ngModel" name="password" id="password" required>
                </div>
    
                <div class="field-row">
                    <a (click)="onGoToResetPassword()" style="cursor: pointer;"> Mot de passe oublié?</a>
                </div>

                <div class="field-row">
                    <label for="statut">Statut: </label>
                    <select name="statut" id="statut" class="statut" 
                    [(ngModel)]="statut" required>
                        <option value="online" >🟩 En ligne</option>
                        <option value="disconnected">🟥 Hors ligne</option>
                        <option value="inactif">🟨 Inactif</option>
                        <option value="absent">⬜ Absent</option>
                    </select>
                </div>
                
                <div class="field-row">
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember">
                        Souvenez-vous de moi
                    </label>
                </div>
                <div class="field-row">
                    <input type="checkbox" id="autoconnect" name="autoconnect" disabled>
                    <label for="autoconnect">
                        Se connecter automatiquement
                    </label>
                </div>
    
                <div class="button-container">
                    <button type="submit">Se connecter</button>
                    <button type="reset">Annuler</button>
                </div>
                
                <div style="margin-top: 1em;">
                    Vous n'avez pas de compte? <a (click)="onGoInscription()" style="cursor: pointer;">Inscrivez-vous</a>
                </div>
            </form>
        </div>
    </div>
</div>