<div class="rechercher">
    <input type="search" placeholder="Rechercher" name="email" id="email" required>
    <div class="button">
        <label role="button" type="button" for="add">
            <img src="assets/images/add.png" alt="">
        </label>
        <input type="checkbox" name="add" id="add">
        <ul role="menu" >
            <li role="menuitem" tabindex="0"><a>Ajouter un ami</a></li>
            <li role="menuitem" tabindex="0"><a>Inviter un ami</a></li>
            <li role="menuitem" tabindex="0"><a>Creer un groupe</a></li>
            <li role="menuitem" tabindex="0"><a>Demandes</a></li>
        </ul>
    </div>
</div>
<app-user-list></app-user-list>