<div class="rechercher">
    <input type="search" placeholder="Rechercher" name="email" id="email" title="Rechercher">
    <div class="button show-menu">
        <label role="button" type="button" for="add" class="show-menu">
            <img src="assets/images/add.png" alt="" class="show-menu">
        </label>
        <input type="checkbox" name="add" id="add" #showMenu class="show-menu">
        <ul role="menu" class="show-menu">
            <li role="menuitem" tabindex="0" (click)="onShowDialogAjout()" ><a>Ajouter un ami</a></li>
            <li role="menuitem" tabindex="0" (click)="onShowDialogInviter()" ><a>Inviter un ami</a></li>
            <li role="menuitem" tabindex="0" (click)="onShowDialogDemandes()" ><a>Demandes d'amis</a></li>
        </ul>
    </div>
</div>
<app-user-list></app-user-list>
<div class="ad-banner">
    <img src="assets/images/banner.jpg" alt="">
</div>