<div class="window active is-bright glass" 
  role="dialog" aria-labelledby="dialog-title" 
  aria-modal="true" cdkDrag #dialogAjout cdkDragBoundary="#desktop"
  >
  <div class="title-bar" cdkDragHandle>
    <div class="title-bar-text" id="dialog-title">Ajouter un ami</div>
    <div class="title-bar-controls">
      <button aria-label="Close" (click)="onHideDialogAjout()"></button>
    </div>
  </div>
  <div class="window-body ajout">
    <div class="img-holder">
      <img src="assets/images/buddy.png" alt="">
    </div>
    <form #sendDemande="ngForm" (ngSubmit)="onSendDemande(sendDemande)">
      <label for="email">Ajouter un ami</label>
      <input class="text-input" type="text" placeholder="Entrez l'email de votre ami" name="email" id="email" ngModel [required]="true">
      <button type="submit">Ajouter</button>
    </form>
  </div>
</div>

<div class="window active is-bright glass" 
  role="dialog" aria-labelledby="dialog-title" 
  aria-modal="true" cdkDrag #dialogInviter cdkDragBoundary="#desktop"
  >
  <div class="title-bar" cdkDragHandle>
    <div class="title-bar-text" id="dialog-title">Inviter un ami</div>
    <div class="title-bar-controls">
      <button aria-label="Close" (click)="onHideDialogInviter()"></button>
    </div>
  </div>
  <div class="window-body inviter">
    <div class="img-holder">
      <img src="assets/images/buddy.png" alt="">
    </div>
    <form #inviterAmi="ngForm" (ngSubmit)="onInviterAmi(inviterAmi)">
      <label for="email">Inviter un ami</label>
      <input class="text-input" type="text" placeholder="Entrez l'email de votre ami" name="email" id="email" [required]="true" ngModel>
      <button type="submit">Inviter</button>
    </form>
  </div>
</div>

<div class="window active is-bright glass" 
  role="dialog" aria-labelledby="dialog-title" 
  aria-modal="true" cdkDrag #dialogDemandes cdkDragBoundary="#desktop"
  >
  <div class="title-bar" cdkDragHandle>
    <div class="title-bar-text" id="dialog-title">Demandes d'amis</div>
    <div class="title-bar-controls">
      <button aria-label="Close" (click)="onHideDialogDemandes()"></button>
    </div>
  </div>
  <div class="window-body demandes">
    <div class="title">
      <span>Demandes <span class="count">({{demandes.length}})</span></span>
    </div>
    <ul class="liste-demandes has-scrollbar">
      @for (demande of demandes; track $index) {
        @if (demande.receveur.id == loggedId) {
          <li class="demande">
            <div class="buddy-container buddy-absent glass demande-list-avatar">
              <div class="buddy-body">
                  <img id="buddy-img" src="{{demande.envoyeur.avatar}}" alt="">
              </div>
            </div>
            <div class="demande-list-info">
              <p class="demande-list-name">{{demande.envoyeur.nomComplet}}</p>
              <p class="demande-list-status">{{demande.statut}}</p>
            </div>
            <div class="demande-btn-holder">
              <button class="demande-list-button" (click)="onAccepterDemande(demande.id)">Accepter</button>
              <button class="demande-list-button" (click)="onRefuserDemande(demande.id)">Refuser</button>
            </div>
          </li>
        }@else {
          <li class="demande">
            <div class="buddy-container buddy-absent glass demande-list-avatar">
              <div class="buddy-body">
                  <img id="buddy-img" src="{{demande.receveur.avatar}}" alt="">
              </div>
            </div>
            <div class="demande-list-info">
              <p class="demande-list-name">{{demande.receveur.nomComplet}}</p>
              <p class="demande-list-status">{{demande.statut}}</p>
            </div>
            <div class="demande-btn-holder">
              <button class="demande-list-button">Annuler</button>
            </div>
          </li>
        }
      }
    </ul>
  </div>
</div>
