<div class="window active is-bright glass" 
  role="dialog" aria-labelledby="dialog-title" 
  aria-modal="true" cdkDrag #dialogAjout cdkDragBoundary="#desktop"
  >
  <div class="title-bar" cdkDragHandle>
    <div class="title-bar-text" id="dialog-title">Ajouter un ami</div>
    <div class="title-bar-controls">
      <button aria-label="Close" (click)="onHideDialogAjout()"></button>
    </div>
  </div>
  <div class="window-body ajout">
    <div class="img-holder">
      <img src="assets/images/buddy.png" alt="">
    </div>
    <form>
      <label for="email">Ajouter un ami</label>
      <input class="text-input" type="text" placeholder="Entrez l'email de votre ami" name="email" id="email" required>
      <button type="submit">Ajouter</button>
    </form>
  </div>
</div>

<div class="window active is-bright glass" 
  role="dialog" aria-labelledby="dialog-title" 
  aria-modal="true" cdkDrag #dialogInviter cdkDragBoundary="#desktop"
  >
  <div class="title-bar" cdkDragHandle>
    <div class="title-bar-text" id="dialog-title">Inviter un ami</div>
    <div class="title-bar-controls">
      <button aria-label="Close" (click)="onHideDialogInviter()"></button>
    </div>
  </div>
  <div class="window-body inviter">
    <div class="img-holder">
      <img src="assets/images/buddy.png" alt="">
    </div>
    <form>
      <label for="email">Inviter un ami</label>
      <input class="text-input" type="text" placeholder="Entrez l'email de votre ami" name="email" id="email" required>
      <button type="submit">Inviter</button>
    </form>
  </div>
</div>

<div class="window active is-bright glass" 
  role="dialog" aria-labelledby="dialog-title" 
  aria-modal="true" cdkDrag #dialogDemandes cdkDragBoundary="#desktop"
  >
  <div class="title-bar" cdkDragHandle>
    <div class="title-bar-text" id="dialog-title">Demandes d'amis</div>
    <div class="title-bar-controls">
      <button aria-label="Close" (click)="onHideDialogDemandes()"></button>
    </div>
  </div>
  <div class="window-body demandes">
    <div class="title">
      <span>Demandes <span class="count">(5)</span></span>
    </div>
    <ul class="liste-demandes has-scrollbar">
      <li class="demande">
        <div class="buddy-container buddy-absent glass demande-list-avatar">
          <div class="buddy-body">
              <img id="buddy-img" src="assets/images/buddy2.png" alt="">
          </div>
        </div>
        <div class="demande-list-info">
          <p class="demande-list-name">Nom du contact</p>
        </div>
        <div class="demande-btn-holder">
          <button class="demande-list-button">Accepter</button>
          <button class="demande-list-button">Refuser</button>
        </div>
      </li>
      <li class="demande">
        <div class="buddy-container buddy-absent glass demande-list-avatar">
          <div class="buddy-body">
              <img id="buddy-img" src="assets/images/buddy2.png" alt="">
          </div>
        </div>
        <div class="demande-list-info">
          <p class="demande-list-name">Nom du contact</p>
          <p class="demande-list-status">En attente</p>
        </div>
        <div class="demande-btn-holder">
          <button class="demande-list-button">Annuler</button>
        </div>
      </li>
      <li class="demande">
        <div class="buddy-container buddy-absent glass demande-list-avatar">
          <div class="buddy-body">
              <img id="buddy-img" src="assets/images/buddy2.png" alt="">
          </div>
        </div>
        <div class="demande-list-info">
          <p class="demande-list-name">Nom du contact</p>
          <p class="demande-list-status">En attente</p>
        </div>
        <div class="demande-btn-holder">
          <button class="demande-list-button">Annuler</button>
        </div>
      </li>
      <li class="demande">
        <div class="buddy-container buddy-absent glass demande-list-avatar">
          <div class="buddy-body">
              <img id="buddy-img" src="assets/images/buddy2.png" alt="">
          </div>
        </div>
        <div class="demande-list-info">
          <p class="demande-list-name">Nom du contact</p>
          <p class="demande-list-status">En attente</p>
        </div>
        <div class="demande-btn-holder">
          <button class="demande-list-button">Annuler</button>
        </div>
      </li>
      <li class="demande">
        <div class="buddy-container buddy-absent glass demande-list-avatar">
          <div class="buddy-body">
              <img id="buddy-img" src="assets/images/buddy2.png" alt="">
          </div>
        </div>
        <div class="demande-list-info">
          <p class="demande-list-name">Nom du contact</p>
          <p class="demande-list-status">En attente</p>
        </div>
        <div class="demande-btn-holder">
          <button class="demande-list-button">Annuler</button>
        </div>
      </li>
    </ul>
  </div>
</div>
